<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.show0017.giftr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Giftr</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="show0017@algonquinlive.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

	<platform name="ios">
		<!-- allow the status bar to have its own set space as in iOS6. Setting StatusBarOverlaysWebview to false also allows a color to be applied to the background -->
	    <preference name="StatusBarOverlaysWebView" value="false" />
		<preference name="StatusBarBackgroundColor" value="#4A5219" />
		<preference name="StatusBarStyle" value="lightcontent" />

        <icon src="./www/img/app_icon.png" width="120" height="120"/>
	</platform>

</widget>
